<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>VueJS</title>
	<link rel="stylesheet" href="">
	<script src="vue.js"></script>
</head>
<body>
	<div id="app">
		<ul>
			<!-- 加括號, i 為 index -->
			<!-- 每個 <li> 都使用 v-bind 綁定一個屬性 :key 並設定唯一值 -->
			<!-- 目的是確保每個元素的唯一性，當元素更新，例如改變順序時，有可識別唯一性的 key 來確保重新渲染 -->
			<li v-for="(ingredient, i) in ingredients" :key="ingredient">{{ ingredient }} ({{ i }})</li>
			<li v-for="ingredient in ingredients">{{ ingredient }}</li>
		</ul>

		<hr>

		<ul>
			<li v-for="person in persons">
				<div v-for="(value, key, index) in person">{{ key }}: {{ value }} ({{ index }})</div>
			</li>
		</ul>

		<button @click="ingredients.push('spices')">Add New</button>

		<span v-for="n in 10"> {{ n }}</span>

		<!-- v-for 的優先權高於 v-if -->
		<ul>
			<li v-if="n % 2 === 1" v-for="n in 10">{{ n }}</li>
		</ul>

		<hr>

		<template v-for="(ingredient, index) in ingredients">
			<h1>{{ ingredient }}</h1>
			<p>{{ index }}</p>
		</template>

	</div>
	<script>
		new Vue({
			el: '#app',
			data: {
				ingredients: ['meat', 'fruit', 'cookies'],
				persons: [
					{name: 'Max', age: 27, color: 'red'},
					{name: 'Anna', age: 'unknown', color: 'blue'},
				]
			},
			methods: {
			}
		})
	</script>
</body>
</html>